 /*.textC{
    font-family: "Great Vibes", cursive;
    text-align: center;
    color: rgb(117, 101, 80);
    font-size: 30px;
    margin: 0rem;
}

.card{
    width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
*/