.chicos {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.melodia {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXTO DENTRO DE LA IMAGEN */
.melodia-texto {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;   /* lo baja */
  padding-bottom: 8vh;
  text-align: center;
  z-index: 2;
  padding-top: 5vh;
}

.melodia-texto h2 {
  font-size: clamp(2.5rem, 6vw, 4rem);
  color: #F8FAFF;
  text-shadow:
    0 0 4px rgba(255,255,255,0.6),
    0 0 12px rgba(200,220,255,0.35);
}

