.rsvp {
  text-align: center;
  padding: 5rem 1rem;
  background:linear-gradient(180deg, #1b2038, #0b0f1f);

}

.rsvp h2 {
  font-size: clamp(3rem, 5vw, 3rem);
  color: white;
  margin-bottom: 1rem;
  text-shadow:
    0 0 6px rgba(255,255,255,0.5),
    0 0 14px rgba(180,190,255,0.35);
}

.rsvp p {
  max-width: 600px;
  margin: 0 auto 1rem;
  color: white; 
  font-size: 2rem;
  text-shadow:
    0 0 6px rgba(255,255,255,0.5),
    0 0 14px rgba(180,190,255,0.35);
}

.rsvp-btn {
  display: inline-block;
  background: linear-gradient(180deg, #f5f6fa, #cfd3e1);
  border: 1px solid #9ea3b3;
  border-radius: 999px;
  padding: 0.9rem 2rem;
  color: #1a1c23;
  font-size: 1.1rem;
  text-decoration: none;
  box-shadow: 0 0 12px rgba(200,220,255,0.4);
  transition: all 0.3s ease;
  margin: 2rem;
}

.rsvp-btn:hover {
  background: #9ea3b3;
  color: #fff;
  transform: scale(1.05);
}





.fade-section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease-out;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}
