.footer {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.footer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXTO DENTRO DE LA IMAGEN */
.footer-texto {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;   /* vertical */
 
  align-items: center;       /* horizontal */
  text-align: center;
  z-index: 2;
  padding-bottom: 6vh;
}

.footer-texto h2 {
  font-size: clamp(3rem, 6vw, 3.5rem);
  color: #F8FAFF;
  margin-bottom: 0.5rem;
  text-shadow:
    0 0 6px rgba(255,255,255,0.6),
    0 0 14px rgba(180,190,255,0.35);
}

.footer-texto p {
  font-size: 2rem;
  color: #E6E9F2;
  text-shadow:
  0 0 6px rgba(255,255,255,0.6),
  0 0 14px rgba(180,190,255,0.35);
}
