.footer-card {
  position: relative;
  height: 70vh; /* ajustá a gusto: 60–80vh */
  border: 0;
  background-color: #4a4438;
}

.footer-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

/* Velo + lugar para el texto */
.footer-overlay {
  position: absolute;
  inset: 0;
  padding: 1.25rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.45)
  );
  color: #fff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  padding-bottom: 3rem;
}

/* Título */
.footer-title {
  font-family: "Dancing Script", cursive;
  margin: 0 0 0.8rem;
  font-size: 3rem;
  font-weight: 600;
  color: #fbfaf9;
  letter-spacing: 2px;
  text-shadow:
    0 0 10px rgba(6, 7, 7, 0.6),
    0 0 20px rgba(102, 201, 216, 0.4),
    0 0 30px rgba(78, 213, 237, 0.3);
}

/* Subtítulo */
.footer-sub {
  font-family: "Dancing Script", cursive;
  font-weight: 300;
  margin: 0;
  font-size: 2rem;
  color: #fbfaf9;
  letter-spacing: 2px;
  text-shadow:
    0 0 10px rgba(6, 7, 7, 0.6),
    0 0 20px rgba(102, 201, 216, 0.4),
    0 0 30px rgba(78, 213, 237, 0.3);
}

/* Nota opcional */
.footer-note {
  margin-top: 0.75rem;
  opacity: 0.85;
  font-size: 0.9rem;
}

/* 📱 Ajustes para versión móvil */
@media (max-width: 768px) {
  .footer-card {
    height: 60vh; /* un poco más chico en altura */
    background-color: #4a4438;
  }

  .footer-title {
    font-size: 2.2rem; /* antes 3rem */
  }

  .footer-sub {
    font-size: 1.5rem; /* antes 2rem */
  }

  .footer-overlay {
    padding-bottom: 2rem; /* sube un poco el texto */
  }
}


.footer-card {
  position: relative;
  background: linear-gradient(180deg, #fbf8f3, #fff 40%, #fbf8f3);
  border: 1px solid #eadfce;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(184, 164, 122, 0.25);
  animation: respirar 6s ease-in-out infinite;
  overflow: hidden;
  transition: transform 0.6s ease;
  
  
}

/* Texto dentro del footer */
.footer-card p,
.footer-card span {
  font-family: "Playfair Display", serif;
  color: #4a4438;
  font-size: 1.1rem;
  margin: 0.5rem 0;

}

.footer {
  background-color: #d2cec8;
}