.musica {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(180deg, #2f034d, #121941);


  }
  
  /* Botón con tu mismo estilo romántico beige-dorado */
  .musica__btn {
    display: inline-block;
  padding: 0.8rem 1.8rem;
  background-color:grey;
  border: 2px solid whitesmoke;
  border-radius: 999px;
  color:aliceblue;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: "Dancing Script", cursive;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(184, 164, 122, 0.25);
  margin-top: 1.2rem;
  }
  
  /* Efecto hover igual a tus otros botones */
  .musica__btn:hover {
    background:black;
  
    transform: scale(1.03);
    box-shadow: 0 0 12px rgba(184, 164, 122, 0.6);
    border: none;
    text-decoration: none;
  }
  
  /* Estado cuando está sonando */
  .musica__btn.is-playing {
    background: #b8a47a;
    color: #fff;
    box-shadow: 0 0 12px rgba(184, 164, 122, 0.6);
  }
  
  /* Eliminar borde azul al enfocar o hacer clic */
  .musica__btn:focus {
    outline: none;
  }
  