
  .fecha {
    max-width: 700px;
    display: grid;
    gap: 2rem;
    justify-items: center;
    font-size: 2rem;
    font-weight: bold; 
    margin: 0.5rem auto; /* <-- centrado horizontal */
  text-align: center;  /* <-- centra el texto dentro */
  background:linear-gradient(180deg, #1b2038, #0b0f1f);
  position: relative;
  overflow: hidden;
  }
  

  
  .fecha::before {
    content: "";
    position: absolute;
    top: -40%;
    left: -60%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center,
    rgba(255,255,255,0.35),
    rgba(200,220,255,0.18),
      transparent 60%);
    animation: sparkle 3s ease-in-out infinite;
    pointer-events: none;
  }
  
  @keyframes sparkle {
    0%   { transform: translateX(-30%) translateY(-10%); opacity: .15; }
    50%  { transform: translateX(30%) translateY(10%);  opacity: .35; }
    100% { transform: translateX(-30%) translateY(-10%); opacity: .15; }
  }
  
.datos .linea {
  white-space: nowrap;
  font-size: 2rem;
  color:#F8FAFF ;
  text-shadow:
    0 0 4px rgba(255,255,255,0.6),
    0 0 10px rgba(200,220,255,0.35),
    0 0 18px rgba(200,220,255,0.25);
}


@media (max-width: 768px) {
  .datos { 
    padding-inline: 12px;           /* aire a los lados */
    font-size: 2rem;
    margin: 2rem;
  }
  .datos .linea {
    white-space: normal;            /* ✅ permitir salto */
    text-wrap: pretty;              /* saltos más lindos */
    overflow-wrap: anywhere;        /* por si alguna palabra queda larguísima */
  }

}

.silver-glow {
  background: linear-gradient(
    135deg,
    #f5f6fa 0%,
    #cfd3e1 20%,
    #9ea3b3 40%,
    #ffffff 50%,
    #8c90a3 60%,
    #6f7385 80%,
    #f5f6fa 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 4px rgba(255,255,255,0.6),
    0 0 10px rgba(180,190,255,0.4);
}
