.historia-texto {
    font-size: 2rem;
    text-shadow:
    0 0 6px rgba(255,255,255,0.5),
    0 0 14px rgba(180,190,255,0.35);
    font-weight: 900;

    -webkit-text-stroke: 1px rgb(252, 250, 250);   /* borde negro real */
  text-shadow:
    0 0 6px rgba(255,255,255,0.5),
    0 0 14px rgba(180,190,255,0.35);


  
}

