.cumplir15 {
    background-color: white;
    text-align: center;
    padding: 3rem 1rem;
}

.historia-texto {
   
    font-size: 2rem;
    color: midnightblue;
    text-shadow: 0 0 4px rgba(120, 160, 255, 0.35);
    hyphens: none;
}

